html {  
  background-image: radial-gradient( circle at center, #080808, #333333); 
  color: white;
  font-family: 'Sometype Mono', monospace;
  width: 100%;
  height: 100%;


}

h3{
  margin: 10px;
}

li{
  text-align: left;
}




.menu{
  background-image: radial-gradient( circle at center, #080808, #333333); 
  box-shadow: 0 0 20px 20px rgb(48, 33, 102);
  border-radius: 5%;
  position: fixed;
  top: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  
}
  .perfil {
    max-width: 500px;
    width: 90%; /* Define a largura do contêiner em relação à largura da janela */
    margin: 0 auto;
    text-align: center;
    border-radius: 10%;

    color: white;
    overflow: auto;
    box-shadow: 0 0 20px 20px rgb(48, 33, 102);

}




  .informacoes {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;




}



.div-pai-experiencia{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  

}


.divs{
  padding: 10px;
  max-width: 500px;
  height: 100%;

  width: 100%; /* Defina a largura desejada para cada caixa */
  border-radius: 2%;
  text-align: center;

  margin-right: 30px;


}

.redes{
  text-align: center;
  margin: auto;


  border-radius: 2%;
  width: 97%;
  height: 80%;
  max-height: 60px;

  padding: 10px;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}


.icones{
  text-align: center;
}



  .fas.fa-graduation-cap{
  color: rgb(193, 127, 255);
  font-size: 60px;

}

.fas.fa-cogs{
  color: rgb(193, 127, 255);
  font-size: 60px;
}

.fas.fa-flask{
  color: rgb(193, 127, 255);
  font-size: 60px;
}



.div-instagram{
  background-image: radial-gradient(circle at bottom left, #F9DC64,   #FF553E , #B5008E);
  width: 53px;
  height: 53px;
  border-radius: 15%;
  margin-left: 10px;
}

.fab.fa-instagram{
  color: #ffffff;
  font-size: 50px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 3px;
  margin-bottom: 2px;

}
.div-instagram:hover{
  background-image: radial-gradient(circle at bottom left, #000000,   #000000 , #000000);
  width: 73px;
  height: 73px;
  .fab.fa-instagram{
  font-size: 70px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 3px;
  margin-bottom: 2px;
}
}



.fab.fa-linkedin {
  color: #0077B5;
  font-size: 60px;
  background-color: white;
  border-radius: 10%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  }
  
.fab.fa-linkedin:hover {
    height: 60px;
    width: 60px;
  color: #000000;
  font-size: 80px;

  }



.fab.fa-github {
  color: rgb(30, 48, 80);
  font-size: 60px;
  margin-left: 10px;

  background-color: white;
  border-radius: 50%;
  height: 55px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab.fa-github:hover{
  color: #000000;
  font-size: 80px;
  height: 75px;
  width: 65px;
}
  


.fab.fa-whatsapp-square{
  color: rgb(1, 172, 1);
  font-size: 60px;
  margin-left: 10px;

  background-color: white;
  border-radius: 50%;
  height: 55px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab.fa-whatsapp-square:hover{
  color: #000000;
  font-size: 80px;
  height: 70px;
  width: 65px;
}
  


